<html>
  <head>
    <title>Test Table</title>
  </head>
  <body>
    <table>
      <tr>
        <th>ID</th>
        <th>Num</th>
        <th>Data</th>
      </tr>
      {% for row in rows %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
